<tr class="text-gray-700 dark:text-gray-400">
    <td class="px-4 py-3 text-sm">
        <%= f.text_field :concentration, id:"concentration", placeholder: "0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
    </td>
    <td class="px-4 py-3 text-sm">
        <%= f.collection_select :extent_id, Extent.all, :id, :extent, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
    </td>
    <td class="px-4 py-3 text-sm">
        <%= f.collection_select :aditivo_id, Aditivo.all, :id, :aditivo, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
    </td>
    <td class="px-4 py-3 text-sm">
        <%= f.text_field :lote, id:"lote", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %> 
    </td>
</tr>
