<tr class="text-gray-700 dark:text-gray-400"> 

    <td class="px-4 py-3 text-sm">
        <input id="name" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" type="text" name="request[parameter_desings_attributes][0][name]">
    </td>
    <td class="px-4 py-3 text-sm">
        <input id="application" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" type="text" name="request[parameter_desings_attributes][0][application]">
    </td>
    <td class="px-4 py-3 text-sm">
        <input id="unit" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" type="text" name="request[parameter_desings_attributes][0][unit]">
    </td>

</tr>